// .cart-home {
//     // width: 0px;
//     // height: 20%;
//     // top: 116px;
//     // right: 200px;
//     // /* display: flex; */
//     // position: relative;
//     // z-index: 300;

.cart-wrapper {
    .text {
        position: absolute;
        top: 39%;
        width: inherit;
    }
}
// }
