.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;  
    height: 96px;

    .uber-logo{
        content: url('../../assets/Uber_Eats.svg');
        object-fit: scale-down;
    }
    .toggle-switch{

    }
    .location{

    }
    .search{

    }
    .cart{

    }
}